html {
    background-color: #f0f0f0;
}

div {
    border: 1px solid #010000;
}
#main-container-landing {
    height: 100vh;
    width: 100vw;
    display: grid;
  grid-template-areas:
        "wel wel"
        "left right"
        "nav nav";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 1fr;
}

#main-container {
    height: 100vh;
    width: 100vw;
    display: grid;
  grid-template-areas:
        "date date"
        "left right"
        "nav nav";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 1fr;
}

#welcome-heading {
    grid-area: wel;
    border: 1px solid #010000;
    background-color: #6774ff;
    height: fit-content;
}

#welcome-heading h1 {
    text-align: center;
    font-size: 3rem;
    align-self: center;
}

#welcome-heading p {
    text-align: center;
    align-self: center;
}



#entry-1-date {
    grid-area: date;
    border: 1px solid #010000;
    background-color: #6774ff;
    height: fit-content;
}

#entry-1-title {
    grid-area: left;
    height: fit-content;
    width: fit-content;
}
/* #entry-1-entry {
} */

#entry-1-music {
    grid-area: left;
    height: 100%;
}

#right-side {
    grid-area: right;
    width: 100%;
    height: 100%;
}

#entry-1-photos {
    width: 100%;
    height: fit-content;
    display: grid;
    grid: 200px 200px / 300px 300px;
}

#entry-1-photo-1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 30% center;
}

#entry-1-photo-2{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 30% center;
}

#entry-1-photo-3{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 30% center;
}

#entry-1-photo-4{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 30% center;
}

#entry-1-nav-btns {
    grid-area: nav;
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 1px solid #470000;
    padding: 10px;
}